// Fonts
// @import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Fonw Awesome
// @import 'node_modules/@fortawesome/fontawesome-free/scss/brands.scss';
@import 'node_modules/@fortawesome/fontawesome-free/scss/fontawesome.scss';
@import 'node_modules/@fortawesome/fontawesome-free/scss/regular.scss';
@import 'node_modules/@fortawesome/fontawesome-free/scss/solid.scss';
// @import 'node_modules/@fortawesome/fontawesome-free/scss/v4-shims.scss';

.navbar-laravel {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    // margin-bottom: 60px;
    margin-bottom: 450px;
    overflow-y: scroll;
}

@media screen and (max-width: 500px) {
    body {
        margin-bottom: 400px;
    }
}

@media screen and (max-width: 400px) {
    body {
        margin-bottom: 350px;
    }
}

@media screen and (max-width: 360px) {
    body {
        margin-bottom: 300px;
    }
}

.promo {
    position: absolute;
    bottom: 57px;
    width: 100%;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 61px;
    line-height: 36px;
    /* Vertically center the text there */
    background-color: #f5f5f5;

    box-shadow: 0 -3px 6px rgba(0, 0, 0, 0.1);
    text-shadow: 0 1px 0 #eee;
    border-top: 1px solid #aaa;

    background-image: linear-gradient(120deg, #b5ffda, #b0d7ff);
    background-size: 100%;
}

.footer .container {
    line-height: 56px;
    /* Vertically center the text there */
}

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container {
    padding: 60px 15px 0;
}

.navbar {
    margin-bottom: 1rem;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
    text-shadow: 0 1px 0 #eee;
    border-bottom: 1px solid #aaa;

    background-image: linear-gradient(120deg, #b5ffda, #b0d7ff);
    background-size: 100%;
}

/* -------------------------------------------------------------------------------------- */
/* display menu */
.popup-menu {
    position: relative;
}

.form-inline {
    position: absolute;
    top: 6px;
    right: 5px;
    display: none;
}

.popup-menu:hover .form-inline,
tr:hover .popup-menu .form-inline {
    display: block;
    opacity: 0.9;
}

.custom-file-input:lang(en) ~ .custom-file-label::after {
    content: 'Обзор';
}

// Fade effect for vuejs transitions
.fade-enter-active,
.fade-leave-active {
    transition: opacity 0.5s;
}

.fade-enter,
.fade-leave-to {
    opacity: 0;
}

.col-centered {
    float: none;
    margin: 0 auto;
}
