<template>
    <div class="chat-app">
        <Conversation
            :contact="selectedContact"
            :messages="messages"
            @new="saveNewMessage"
        />
        <ContactsList :contacts="contacts" @selected="startConversationWith" />
    </div>
</template>

<script>
import Conversation from "./Conversation";
import ContactsList from "./ContactsList";

export default {
    props: {
        user: {
            type: Object,
            required: true
        }
    },

    components: { Conversation, ContactsList },

    data: function() {
        return {
            selectedContact: null,
            messages: [],
            contacts: []
        };
    },

    methods: {
        startConversationWith(contact) {
            this.updateUnreadCount(contact, true);

            axios
                .get(`/adminpanel/conversation/${contact.id}`)
                .then(response => {
                    this.messages = response.data;
                    this.selectedContact = contact;
                });
        },

        saveNewMessage(message) {
            this.messages.push(message);
        },

        handleIncoming(message) {
            if (
                this.selectedContact &&
                message.from == this.selectedContact.id
            ) {
                this.saveNewMessage(message);
                return;
            }

            this.updateUnreadCount(message.from_contact, false);
        },

        updateUnreadCount(contact, reset) {
            this.contacts = this.contacts.map((single) => {
                if(single.id !== contact.id) {
                    return single;
                }
                if(reset)
                    single.unread = 0;
                else
                    single.unread += 1;

                return single;
            });
        }
    },

    computed: {},

    created: function() {},

    mounted() {
        Echo.private(`messages.${this.user.id}`)
            .listen("NewMessage", e => {
                this.handleIncoming(e.message);
            });

        axios.get("contacts").then(response => {
            console.log(response.data[1]);
            this.contacts = response.data;
        });
    }
};
</script>

<style lang="scss" scoped>
.chat-app {
    display: flex;
}
</style>