<template>
    <div class="conversation">
        <h1>{{ contact ? contact.name : "Выберите контакт..." }}</h1>
        <MessagesFeed :contact="contact" :messages="messages" />
        <MessageComposer @send="SendMessage" />
    </div>
</template>

<script>
import MessagesFeed from "./MessagesFeed";
import MessageComposer from "./MessageComposer";

export default {
    props: {
        contact: {
            type: Object,
            default: null
        },
        messages: {
            type: Array,
            default: []
        }
    },

    components: { MessagesFeed, MessageComposer },

    data: function() {
        return {};
    },

    methods: {
        SendMessage(text) {
            if (!this.contact) {
                return;
            }
            axios
                .post("/adminpanel/conversation/send", {
                    contact_id: this.contact.id,
                    text: text
                })
                .then(response => {
                    // console.log('saved message is: ' + response.data);
                    this.$emit("new", response.data);
                });
        }
    },

    mounted() {
        console.log("Conversation mounted.");
    }
};
</script>

<style lang="scss" scoped>
.conversation {
    flex: 5;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    h1 {
        font-size: 20px;
        padding: 10px;
        margin: 0;
        border-bottom: 1px dashed lightgray;
    }
}
</style>